.teste {
  margin: 5px;
  border: 1px solid black;
}

.test {
  margin: 0px;
}

.greet {
  margin: 5px;
  border: 1px solid black;
  font-size: 1.6rem;
}

.greet p {
  padding: 10px;
}

.colors {
  margin-bottom: 15px;
  border: 1px solid black;
  color: white;

}


.cartao {
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
}

.roundcard {
  width: 40%;
  border-radius: 20px;
  margin: 5px;
}

.stars {
  font-size: 2.5rem;
  margin: 5px;
}

.randomGuysLol {
  width: 10%;
  border-radius: 50%;
}

.drivers {
  width: 90%;
  color: white;
  background-color: #425CBB;
  border-radius: 20px;
  align-items: center;
  margin: 15px;
  height: 200px;
}

.cards-img {
  width: 10%;
  margin-left: 600px;
  margin-top: 15px;
}


.likebtn {
  border: none;
  margin: 5px;
}

.glassesguy {
  width: 30%;
  height: auto;
}

.dice {
  width: 130px;
  height: auto;
  margin: 5px;
}

.box {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 5px;
  align-content: center;
}

.red-div {
  background-color: red;
}


.face-imgs {
  width: 20%;
}

.facetest {
  margin-top: 40px;
  margin-bottom: 40px;

}